<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hafsa.anlikmesajlasma" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityPac.Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityPac.Activity.KayitOl"
            android:label="@string/title_activity_kayit_ol"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.GirisYap"
            android:label="@string/title_activity_giris_yap"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.AnaForm"
            android:label="@string/title_activity_ana_form"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.ReferansKayit"
            android:label="@string/title_activity_referans_kayit"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.Arkadas"
            android:label="@string/title_activity_arkadas_ekle"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.Mesaj"
            android:label="@string/title_activity_mesaj"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityPac.Activity.ResimGonder"
            android:label="@string/title_activity_resim_gonder"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
